<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/mapa.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />

    <title>Document</title>
</head>

<body>
    <header>
        <nav class="menu">
            <ul>
                <div class="sideLeft">
                    <li><a href="/">Inicio</a></li>
                </div>
                <div class="sideRight">
                    <%if(user) {%>
                        <li><a href="/ponto">Cadastrar Ponto</a></li>
                        <li><a href="/mapa">Visualizar Mapa</a></li>
                        <li><a href="/logout">Logout</a></li>
                        <% } else{ %>
                            <li><a href="/cadastro">Realizar Login</a></li>
                            <%}%>
                </div>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h2>Bem vindo, <%= user.nome %>!
            </h2>
            <div id="map"></div>


        </section>
        <section class="lista">

            <% if(pontos.length> 0) {%>
                <table>
                    <% pontos.forEach(ponto=> { %>

                        <tr>
                            <td>
                                <%= ponto.nome %>
                            </td>
                            <td>
                                <%= ponto.endereco %>
                            </td>
                            <td>
                                <%= ponto.status %>
                            </td>
                            <td>
                                <%= ponto.coordenada%>
                            </td>
                            <td><a href="/ponto/index/<%=ponto._id%>" class="editar">Editar</a></td>
                            <td><a href="/ponto/delete/<%=ponto._id%>" class="excluir">Excluir</a></td>
                        </tr>
                        <% }) %>
                </table>
                <% } else { %>
                    <h2>Nehum Ponto Cadastrado</h2>
                    <%}%>
        </section>
    </main>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="/assets/js/mapa.js"></script>
</body>

</html>