<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/pontos.css">
    <title>Document</title>
</head>

<body>
    <header>
        <nav class="menu">
            <ul>
                <div class="sideLeft">
                    <li><a href="/">Inicio</a></li>
                </div>
                <div class="sideRight">
                    <%if(user) {%>
                        <li><a href="/ponto">Cadastrar Ponto</a></li>
                        <li><a href="/mapa">Visualizar Mapa</a></li>
                        <li><a href="/logout">Logout</a></li>
                        <% } else{ %>
                            <li><a href="/cadastro">Realizar Login</a></li>
                            <%}%>
                </div>
            </ul>
        </nav>
    </header>
    <main>
        <div>

            <section class="login">
                <%if(ponto._id) {%>
                    <h2>Editando Ponto</h2>
                    <%} else {%>
                        <h2>Cadastrando Ponto</h2>
                        <%}%>
                            <%- include('./mensagem')%>
                                <%if(ponto._id) {%>
                                    <form action="/ponto/edit/<%= ponto._id %>" method="post">
                                        <% } else {%>
                                            <form action="/ponto/cadastro" method="post">
                                                <%}%>
                                                <input type="hidden" name="_csrf" value= <%= csrfToken %>>
                                                    <label>Nome</label>
                                                    <input type="text" name="nome" value="<%= ponto.nome %>" />
                                                    <label>Endereço</label>
                                                    <input type="text" name="endereco" value="<%= ponto.endereco %>" />
                                                    <label>Selecione</label>
                                                    <select name="status" class="form-control">
                                                        <option value="">--Selecione uma opção--</option>
                                                        <option value="Ja Visitei" <%=ponto &&
                                                            ponto.status==='Ja Visitei' ? 'selected' : '' %>>Já visitei
                                                        </option>
                                                        <option value="Pretendo Visitar" <%=ponto &&
                                                            ponto.status==='Pretendo Visitar' ? 'selected' : '' %>
                                                            >Pretendo Visitar</option>
                                                    </select>

                                                    <label for="">Coordenadas</label>
                                                    <input type="text" name="coordenada" value="<%=ponto.coordenada%>">

                                                    <button type="submit">Cadastrar</button>
                                            </form>
            </section>

            <section class="info-img">
            </section>
        </div>
    </main>


</body>

</html>